@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body.dark {
    --color-text-main: #DCDCDC;
    --color-text-secondary: #A6A6A6;
    --color-bg-body: #0D0D0D;
    --color-bg-card: #1A1A1A;
    --color-border-card: #303030;
    --color-shadow: #2525258c;
    --color-divider: #ffffff21;
    --color-button-bg: #FEFEFE;
    --color-button-text: #0D0D0D;
    --color-button-border: #C7C7C7;
    --color-card-inside: #262626;
}

body {
    --color-text-main: #010101;
    --color-text-secondary: #8A8A8A;
    --color-bg-body: #E5E5E5;
    --color-bg-card: #F2F2F2;
    --color-border-card: #CFCFCF;
    --color-shadow: #D1D1D1;
    --color-divider: #00000015;
    --color-button-bg: #000000;
    --color-button-text: #F8F8F8;
    --color-button-border: #181818;
    --color-card-inside: #FFFFFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body {
    transition: all 0.2s ease-in-out;
    font-family: "Roboto", sans-serif;
}

h3,
p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    color: var(--color-text-main);
}

p {
    font-size: 14px;
    color: var(--color-text-secondary);
}

body {
    margin-top: 50px;
    background-color: var(--color-bg-body);
}

.card {
    padding: 30px;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-border-card);
    box-shadow: 1px 1px 5px var(--color-shadow);
    border-radius: 3cap;
}

.header {
    display: flex;
    gap: 20px;
}

.header-left {
    width: 330px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-icon {
    width: 50px;
}

.header-meta p {
    font-size: 12.6px;
}

.apps-container {
    width: 1000px;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.app-template {
    width: 250px;
    height: 150px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.app-template-icon {
    width: 35px;
    border-radius: 10px;
}

.app-meta {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.app-meta p {
    font-size: 15.5px;
}

.app-tag {
    padding: 10px;
    width: auto;
    height: 1px;
    position: relative;
}

.tag-text {
    font-size: 12px !important;
    line-height: 0px;
}

.app-sub {
    font-size: 12.5px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-button-bg);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.stats-svg {
    color: var(--color-text-secondary);
    min-width: 48px;
    min-height: 48px;
}

.header-views-card {
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-meta h3,
.header-meta p {
    margin: 0;
    padding: 0;
}

@media (max-width: 1170px) {
    .apps-container {
        width: 650px;
        position: relative;
    }
}

@media (max-width: 768px) {
    .apps-container {
        width: 350px;
    }

    .app-template {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header-views-card {
        width: 350px;
    }

    .header-left {
        width: 350px;
    }

    .wrapper {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}